terratowns_endpoint="https://terratowns.cloud/api"
egusi = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/egusi"
  content_version = 1 
}
fancycars = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/fancycars"
  content_version = 1 
}